footer {
  background-color: $color-background;
  border-top: 1px solid #eeeeee;
  font-size: 11px;
  .container {
    margin: 0 auto;
    @include flex-center-between;
    ul {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      li {
        padding-right: 10px;
      }
    }
    .language {
      display: flex;
      align-items: center;
    }
  }
}
