header {
  background-color: $color-white;
  position: fixed;
  left: 0;
  right: 0;
  .head-top {
    @include flex-center-between;
    .title {

    }
    .icons {

    }
  }
  .head-bottom {
    display: flex;
    .links {
      display: flex;
      li {
        padding: 0 20px;
      }
    }
  }
}
