header {
  background-color: $color-white;
  position: fixed;
  left: 0;
  right: 0;
  .head-top {
    @include flex-center-between;
    .title {

    }
    .icons {

    }
  }
  .head-bottom {
    display: flex;
    border-bottom: 1px solid;
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      li {
        padding: 10px 20px;
        .selected {
          color: $color-selected;
          border-bottom: 3px solid;
          border-color: $color-selected;
          padding-bottom: 9px;
        }
      }
    }
  }
}
